{% extends 'base.html' %}
{% block content %}
<div class = 'container'>
<br/>
<br/>
<ol>
    {% for x in ac %}
    <div class="card">
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'topic' x.id %}" id = 'cd' style = 'text-decoration:none;color:black;' id = 'click'>{{x.standardname}}</a></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <img src= "{{ x.clsimg.url }}" class="card-img-bottom" />

</div>
    {% endfor %}
</ol>
</div>
{% endblock %}
