<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>MathsFun-A idea to classes</title>
  <link rel="apple-touch-icon" href="{% static 'wlogo.png' %}" sizes="180x180">
  <link rel="icon" href="{% static 'wlogo.png' %}" sizes="32x32" type="image/png">
  <link rel="icon" href="{% static 'wlogo.png' %}" sizes="16x16" type="image/png">
  <link rel="mask-icon" href="{% static 'wlogo.png' %}" color="#7fff00">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<style>
#click {
  text-decoration:none;
  color:black;
}
#click:hover {
  color:LightGreen !important;
}
#cp{
  text-decoration:none;
  color:black !important;
}
#cp:hover {
  color:dodgerBlue !important;
}
#cz{
  text-decoration: none !important;
  color:BlueViolet !important;
}
#cz:hover {
  color:Crimson !important;
}
#navbarDropdown{
    color: black;

}
#navbarDropdown:hover {
    color:dodgerBlue !important;
}

body{
  font-family: 'Anton', sans-serif; !important;
  background-image: url("{% static 'background.jpg' %}");
  background-size: 100%
  background-repeat: no-repeat;
}

</style>
<body>

  <nav class="navbar navbar-light " style="background-color:#7fffd4;" >

    <div class = 'container' >
      <nav class="navbar navbar-expand-lg navbar-light" >
        <a class="navbar-brand" href='{% url "home-page" %}' id = 'cp'>
          <img src ='{% static "wlogo.png" %}' class='d-inline-block align-top-right' height=60 width=60/>
          Maths Fun
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="nav-item">
            <a class="nav-link" href="{% url 'about' %}" id = 'cp'>About</a>
          </div>
          <div class = 'nav-item'>
            <a class = 'nav-link' href = "{% url 'weightage' %}" id = 'cp'>Weightage</a>
          </div>

          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}" id = 'cp'>Signout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}" id = 'cp'>Signin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}" id = 'cp'>Signup</a>
            </li>

            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = 'cp'>
                 Settings
               </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class = 'nav-link' href = '{% url "success" request.user.id %}' id = 'cp'>newsletter</a>
              <a class = 'nav-link' href = '{% url "account_change_password" %}' id = 'cp'>change Password</a>
              <a class = 'nav-link' href = '{% url "account_email" %}' id = 'cp'>email info</a>
              {% endif %}
            </div>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <div>
    <footer class = 'text-muted'>
      <div class = 'container text-right'>
        <a href = "{% url 'home-page' %}" class = 'text-muted' id = 'cz'>© Team Jarvis {% now 'Y' %}</a>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
